main .home-banner .carousel-item{height: 500px; }
main .product-list .book-cover-img { max-width: 253px;max-height: 253px;}
.custom-footer{position: fixed;top: 95%;width: 100%;}
.book-cover-detail-page{max-width: 400px;min-height: 300px;border-radius: 25px;border: 3px solid steelblue;}

.gallery-reviews-nav li a{text-decoration: none;color: #333;}
/* .gallery-reviews-nav li.active a{border: 1px solid #dee2e6;border-bottom: unset;padding: 10px 40px;background: #ffffff;text-decoration: none;} */